<% if day[:photo].nil? %>
<img class="presenter-photo" src="<%= image_path("8thLightLogo") %>"
alt="Photo of presenter not available.">
<% else %>
<img class="mr-3 presenter-photo" src=<%= day[:photo] %> alt="<%= day[:presenter] %>">
<% end %>
<div class="media-body">
  <h4 class="mt-0 mb-1">
  <%= day[:description] %>
  </h4>
  <h5 class="mt-0 mb-1">
  <%= day[:presenter] %>
  <br>
  <%= day[:weekday] %>
  <br>
  <%= day[:month_day] %>
  </h5>
  <h4>
  <%= day[:starts] %>
  </h4>
</div>
