<% @preview_topics.each do |topic| %>
<div class="home-list-item progress-padded">
    <%= topic[:name] %>
  <br>
  <div class="progress">
    <div class="progress-bar progress-bar-striped bg-success"
         role="progressbar"
         style="width: <%= topic[:percent_complete] %>"
         aria-valuenow="25"
         aria-valuemin="0"
         aria-valuemax="100">
    </div>
  </div>
  <p class="category-topic-percentage">
    <%= topic[:percent_complete] %>
  </p>
  <% if UserTopic.exists?(user_id: current_user.id,
                          topic_id: topic[:id]) %>
    <%= button_to 'Continue ' + topic[:name],
                  add_topic_path(topic_id: topic[:id],
                                 topic_version: topic[:version]),
                  class: 'z-button topic-button',
                  method: :post %>
  <% else %>
    <%= button_to 'Begin ' + topic[:name],
                  add_topic_path(topic_id: topic[:id],
                                 topic_version: topic[:version]),
                  class: 'z-button topic-button',
                  method: :post %>
  <% end %>
</div>
<% end -%>
