<nav class="navbar navbar-toggleable-md">
  <a class="navbar-brand" href=<%= root_path %>>Zagaku</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="fa fa-bars"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="<%= root_path %>" class="nav-link nav-link-color">
          <i class="fa fa-home"></i>
          Home
        </a>
      </li>
      <% if user_signed_in? && current_user[:employee] %>
        <a href="<%= calendar_path %>" class="nav-link nav-link-color">
          <i class="fa fa-clock-o"></i>
          Schedule
        </a>
      <% end %>
      <li class="nav-item">
        <a href="<%= learning_trails_path %>" class="nav-link nav-link-color">
          <i class="fa fa-map-signs"></i>
          Learning Trails
        </a>
      </li>
    </ul>
    <ul class="navbar-nav right">

    </ul>
    <% if user_signed_in? %>

      <div class="dropdown">
        <button class="z-button dropdown-toggle nav-dropdown-button"
                type="button"
                id="navUserMenu"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
          <%= current_user.email %>
        </button>
        <div class="dropdown-menu" aria-labelledby="navUserMenu">
          <% if user_signed_in? && current_user[:employee] %>
              <a href="<%= control_panel_path %>" data-method="get" class="dropdown-item">
                <i class="fa fa-cog"></i>
                Control Panel
              </a>
          <% end %>

          <a href="<%= user_settings_path %>" data-method="get" class="dropdown-item">
            <i class="fa fa-bars"></i>
            User Settings
          </a>

          <a href="<%= log_out_path %>" data-method="post" class="dropdown-item">
            <i class="fa fa-sign-out"></i>
            Sign Out
          </a>
        </div>
      </div>
    <% end %>
  </div>
</nav>
