<nav class="navbar navbar-toggleable-md">
  <a class="navbar-brand" href=<%= root_path %>>Zagaku</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="fa fa-bars"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Home", root_path, class: "nav-link nav-link-color" %>
      </li>
      <% if user_signed_in? && current_user[:employee] %>
        <li class="nav-item">
          <%= link_to "Zagaku Schedule", calendar_path, class: "nav-link nav-link-color" %>
        </li>
      <% end %>
      <li class="nav-item">
        <%= link_to "Learning Trails", learning_trails_path, class: "nav-link nav-link-color" %>
      </li>
    <% if user_signed_in? && current_user[:employee] %>
      <li class="nav-item">
        <%= link_to "Control Panel", control_panel_path, class: "nav-link nav-link-color" %>
      </li>
    <% end %>
    </ul>
    <% if user_signed_in? %>
      <%= button_to "Sign out", log_out_path, {class: 'z-button'}%>
    <% end %>
  </div>
</nav>
