<div class="container-fluid page-textbox">
  <%= form_tag 'calendar', method: 'get' do %>
    <div class="row">
      <div class="col-md-2 offset-md-8">
        <%= select_tag "calendar_id",
                       options_from_collection_for_select(@calendars, "id", "name", "#{@calendar.id}"),
                       class: 'form-control'%>
      </div>
      <div class="col-md-2">
        <%= submit_tag "Select calendar", class: "z-button" %>
      </div>
    </div>
  <% end %>

  <% Time.zone = @time_zone %>
  <h3 class="calendar-date-year"><%= Date::MONTHNAMES[@date.month]%> <%= @date.year %> </h3>
  <h3 class="calendar-date-year"><i><%= @calendar.name %></i></h3>
  <div class="container">
    <%= button_to "#{Date::MONTHNAMES[@date.last_month.month]} #{@date.beginning_of_month.last_month.year}",
      calendar_path,
      class: 'z-button topic-button float-left',
      method: :get,
      id: "cal-back-button",
      params: { date: @date.beginning_of_month.last_month, calendar_id: @calendar.id } %>

    <%= button_to "#{Date::MONTHNAMES[@date.next_month.month]} #{@date.beginning_of_month.next_month.year}",
      calendar_path,
      class: 'float-right z-button topic-button',
      method: :get,
      id: "cal-forward-button",
      params: { date: @date.beginning_of_month.next_month, calendar_id: @calendar.id } %>

</div>
<br/>
<br/>
<br/>
<div class="clearfix"></div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="hidden-sm-down col-md-2 calendar-day-label">Mon</div>
  <div class="hidden-sm-down col-md-2 calendar-day-label">Tues</div>
  <div class="hidden-sm-down col-md-2 calendar-day-label">Wed</div>
  <div class="hidden-sm-down col-md-2 calendar-day-label">Thurs</div>
  <div class="hidden-sm-down col-md-2 calendar-day-label">Friday</div>
  <div class="col-md-1"></div>
</div>
  <% @events.keys.each do |week_num| %>
    <div class="row">
      <div class="col-md-1"></div>
      <% if @events.keys.min == week_num %>
        <% (@days_per_week - @events[week_num].keys.length).times do %>
          <div class="col-md-2 calendar-cell hidden-sm-down"></div>
        <% end %>
      <% end %>
      <% @events[week_num].keys.each do |day_num| %>
        <div class="hidden-md-up">
          <%=  Date.commercial(@date.year, week_num, day_num).strftime("%A") %>
        </div>
        <div class="col-md-2 calendar-cell-hover">
          <span class="calendar-date">
            <%=  Date.commercial(@date.year, week_num, day_num).day %>
          </span>
          <%= render partial: "events/index_partials/calendar_event_content",
            locals: { week_num: week_num, day_num: day_num } %>
        </div>
      <% end %>
      <div class="col-md-1 calendar-day-right-side"></div>
    </div>
  <% end %>
</div>



