
<div class="container">
  <br/>
  <h1>Upcoming Zagaku</h1>
  <br/>
  <%= month_calendar events: @events do |date, events| %>
    <%= date.day %>
    <br/>

    <% if events.length > 0 %>
      <% events.each do |event| %>
        <div class=row>
          <div class="col-md-7">
            <strong><%= event.summary.split(" - ")[1]%></strong>
          </div>
          <div class="col-md-5 float-md-right">
            <% Time.zone = "America/Chicago"%>
            <%= event.start_time.in_time_zone.strftime("%I:%M %p")%>
          </div>
        </div>
        <div class=row>
          <div class="col-md-12">
            <%= event.summary.split(" - ")[2]%>
          </div>
        </div>
      <% end %>


    <% elsif [1,2,3,4].include? date.wday and date > DateTime.now.to_date%>
      <% event_booking_id = "request-booking-event-" + date.month.to_s + "-" + date.day.to_s + "-" + date.year.to_s%>
      <p>Open</p>
      <button class="btn btn-success" id=<%= event_booking_id %> >Schedule Zagaku</button>
    <% end %>
  <% end %>

</div>  
