
<div class="container page-textbox">
  <% Time.zone = @time_zone %>
  <h3 class="calendar-date-year"><%= Date::MONTHNAMES[@date.month]%> <%= @date.year %> </h3>
  <div class="container">
    <%= button_to "#{Date::MONTHNAMES[Date.today.last_month.month]} #{Date.today.beginning_of_month.last_month.year}",
                  calendar_path,
                  class: 'z-button topic-button float-left',
                  method: :get,
                  params: {date: @date.beginning_of_month.last_month} %>

    <%= button_to "#{Date::MONTHNAMES[@date.next_month.month]} #{@date.beginning_of_month.next_month.year}",
                  calendar_path,
                  class: 'float-right z-button topic-button',
                  method: :get,
                  params: { date: @date.beginning_of_month.next_month } %>

  </div>
  <div  class="clearfix"></div>
  <div class="container">
    <% @events.keys.each do |week_num| %>
    <div class="row">
      <% if @events.keys.min == week_num %>
        <% (4 - @events[week_num].keys.length).times do %>
          <div class="col-md-3 event-calendar-cell"></div>
        <% end %>
      <% end %>
      <% @events[week_num].keys.each do |day_num| %>
      <div class="col-md-3 event-calendar-cell">
        <%=  Date.commercial(@date.year, week_num, day_num).day %>
        <% if @events[week_num][day_num].size > 0 %>
          <% @events[week_num][day_num].each do |event| %>

            <p>
              <strong>
                <%= event.summary.split(" - ")[1].gsub(".","") %>
              </strong>
            </p>
            <p><%= event.summary.split(" - ")[2] %></p>

          <% end %>
        <% else %>
        <p>No events</p>
        <% end %>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>



