<div class="container page-textbox">
  <div class="container">
    <h4 class="topic-page-summary">
      Learning Trails
    </h4>
    <div class="category-links">
      <% @categories.each do |category_for_links| %>
          <span>
            <%= link_to category_for_links.category.gsub('-', ' ').titlecase,
                        '#' + category_for_links.category,
                        {class: 'nav-link-color category-link'} %>
          </span>
      <% end %>
    </div>
    <% @categories.each do |category| %>
      <h1 class="category-title" id=<%= category.category %> >
        <%= category.category.gsub('-', ' ').titlecase %>
      </h1>
      <div class="container">
        <% category.topics.each do |topic| %>
          <h4>
            <%= topic.name.split(".")[0].titlecase %>
            <span>
              <% if UserTopic.exists?(user_id: current_user.id, topic_id: topic.id) %>
                <%=  task_completion_percentage(topic.id, current_user.id) %>
              <% end %>
            </span>
          </h4>
          <div class="container">
            <p> <%= topic.summary %> </p>
            <% if UserTopic.exists?(user_id: current_user.id, topic_id: topic.id) %>
              <%= button_to 'Continue ' + topic.name.split(".")[0].titlecase,
                            add_topic_path(topic_id: topic.id, topic_version: topic.version),
                            class: 'z-button topic-button topic-button-continue',
                            method: :post %>
            <% else %>
              <%= button_to 'Begin ' + topic.name.split(".")[0].titlecase,
                            add_topic_path(topic_id: topic.id, topic_version: topic.version),
                            class: 'z-button topic-button',
                            method: :post %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
