<% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true) %>
<div class="container page-textbox">
  <h1 class="topic-name"> <%= @topic['name'].split(".")[0].gsub("-"," ").titlecase %> </h1>
  <div class="container">
    <h4 class="topic-summary"> <%= @topic['summary'] %> </h4>
    <% @topic['levels'].each do |level| %>
      <div class="container">
        <h2 class="topic-level"> <%= "Level #{level['level_number']}" %> </h2>

        <% level['tasks'].each do |task| %>

          <div class="card topic-card">
            <img class="card-img-top" src="" alt="Card image cap">
            <div class="container">
              <div class="card-body">
                <h4 class="card-title"></h4>
                <h5 class="card-text"><%= markdown.render(task['content']).html_safe %></h5>
                <% if !task['complete'] %>
                  <%= button_to "Mark as complete",
                                complete_task_path(task_id: task['id'], topic_id: @topic['id']),
                                class: 'z-button topic-button float-md-right topic-button-incomplete',
                                method: :post %>
                <% else %>
                  <%= button_to "Completed",
                                reset_task_path(task_id: task['id'], topic_id: @topic['id']),
                                class: 'z-button topic-button float-md-right topic-button-complete',
                                method: :post %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>

        <h4 class="topic-goals">You should be able to:</h4>

        <% level['goals'].each do |goal| %>
          <div class="row">
            <div class="col-md-2">
              <% if !goal['complete'] %>

                <%= button_to "Mark as complete",
                              complete_goal_path(goal_id: goal['id'], topic_id: @topic['id']),
                              class: 'z-button topic-button',
                              method: :post %>
              <% else %>
                <%= button_to "Complete",
                              reset_goal_path(goal_id: goal['id'], topic_id: @topic['id']),
                              class: 'z-button topic-button',
                              method: :post %>
              <% end %>
            </div>
            <div class="col-md-10">
              <%= markdown.render(goal['content']).html_safe %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
</div>
