<% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true) %>
<div class="container">
  <h1 class="topic-name"> <%= @topic.name.split(".")[0].gsub("-"," ").titlecase %> </h1>
  <div class="container">
    <h4 class="topic-summary"> <%= @topic.summary %> </h4>
    <% @topic.topic_levels.all.each do |level| %>
      <div class="container">
        <h2 class="topic-level"> <%= "Level #{level.level_number}" %> </h2>
        <ul class="">
          <% level.topic_level_tasks.all.each do |task| %>
            <li><%= markdown.render(task.content).html_safe %></li>
          <% end %>
        </ul>
        <h4 class="topic-goals">You should be able to:</h4>

        <ul>
          <% level.topic_level_goals.all.each do |goal| %>
            <li class="topic-task-goal">
              <%= markdown.render(goal.content).html_safe %>
            </li>
          <% end %>
        </ul>
        </ul>
    <% end %>
    </div>
  </div>
</div>
