<% @lessons.where(lesson_type: 'task', level: level).each do |lesson| %>
  <div class="<%= @user_lessons.where(lesson_id: lesson.id).first.complete ? 'topic-card-complete' : '' %> card topic-card ">
    <div class="container">
      <div class="card-body">
        <h4 class="card-title"></h4>
        <div class="check-mark card-check-mark">
          <% if @user_lessons.where(lesson_id: lesson.id).first.complete %><%= fa_icon 'check' %><% end %>
        </div>
        <div class="row">
          <div class="col-md-10">
            <h5 class="card-text">

              <%= markdown.render(lesson.content).html_safe %>
            </h5>
            <% unless lesson.link_image == '' %>
              <%= render partial: 'learning_trails/show_partials/link_preview',
                         locals: { lesson: lesson } %>
            <% end %>
          </div>
          <div class="col-sm-2 float-sm-right align-bottom">
            <%= render partial: 'learning_trails/show_partials/task_buttons',
                       locals: { lesson: lesson } %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
