<!DOCTYPE html>
<html>
  <head>
    <title>Zagaku - 8th Light Learning</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render partial: "shared/cdn_javascripts" %>
    <%= render partial: "shared/cdn_stylesheets" %>
    <%= render partial: "shared/cdn_fonts"%>
  </head>

  <body>
    <%= render partial: "shared/flash" %>
    <div class="container-fluid">
      <%= render partial: "shared/header" %>
      <br/>
      <%= yield %>
    </div>
  </body>
</html>
